@font-face {
    font-family: 'Inter';
    src: url('/fe/css/fonts/Inter-Bold.woff2') format('woff2'),
        url('/fe/css/fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fe/css/fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('/fe/css/fonts/Inter-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fe/css/fonts/Inter-Light.woff2') format('woff2'),
        url('/fe/css/fonts/Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fe/css/fonts/Inter-Medium.woff2') format('woff2'),
        url('/fe/css/fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fe/css/fonts/Inter-SemiBold.woff2') format('woff2'),
        url('/fe/css/fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fe/css/fonts/Inter-Regular.woff2') format('woff2'),
        url('/fe/css/fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Inria Serif';
    src: url('/fe/css/fonts/InriaSerif-Bold.woff2') format('woff2'),
        url('/fe/css/fonts/InriaSerif-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inria Serif';
    src: url('/fe/css/fonts/InriaSerif-Light.woff2') format('woff2'),
        url('/fe/css/fonts/InriaSerif-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inria Serif';
    src: url('/fe/css/fonts/InriaSerif-Regular.woff2') format('woff2'),
        url('/fe/css/fonts/InriaSerif-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}