span.tagline {
    display: block;
    font-size: 50%;
    letter-spacing: 2px;
    opacity: 0.9;
    //color: rgba(0, 0, 0, 0.4);
    padding-top: 5px;
    opacity: 0.5;
}

.title-style-one {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    &:before {
        width: 28px;
        height: 5px;
        display: block;
        content: "";
        position: absolute;
        bottom: 3px;
        left: 50%;
        margin-left: -14px;
        background-color: $primary;
    }
    &:after {
        width: 100px;
        height: 1px;
        display: block;
        content: "";
        position: relative;
        margin-top: 25px;
        left: 50%;
        margin-left: -50px;
        background-color: $primary;
    }
}

.title-style-two {
    text-transform: capitalize;
    //text-transform: uppercase;
    padding-bottom: 15px;
    &:before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100px;
        height: 2px;
        content: "";
        background-color: $primary;
    }

    &.text-center:before {
        left: 50%;
        margin-left: -50px;
    }
}

.title-style-three {
    padding-bottom: 20px;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 55px;
        background-color: $primary;
    }
    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 2px;
        height: 1px;
        width: 95%;
        max-width: 255px;
        background-color: $primary;
    }
}

.title-style-four {
    text-transform: uppercase;
    &:before {
        background-color: $primary;
        content: "";
        display: block;
        height: 0.25rem;
        width: 42px;
        margin-bottom: 1.25rem;
    }
}

.title-style-five {
    display:grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    align-items: center;
    &:after {
        background-color: $primary;
        content: "";
        display: block;
        height: 0.5px;
    }

    &.text-center {
        &:before {
            background-color: $primary;
            content: "";
            display: block;
            height: 0.5px;
        }
        grid-template-columns: 1fr auto 1fr;
    }
}

@each $color, $value in $theme-colors {
    .ba-bg-#{$color} {
        &:before,
        &:after {
            background-color: $value !important;
        }
    }
}
